<div class="latizq" >
  <br><br><br>
  
  <div *ngIf="mostrarCategorias">
    <h3 class="categorias-titulo">CATEGORÍAS</h3>
    <app-categorias></app-categorias>
  </div>

  <!-- VIDEOS RIOT GAMES -->
  <div class="riot-videos">
    <h4>Videos de Riot Games</h4>
    <div class="video-item">
      <h5>Bienvenidos a Noxus: Cinemática de la nueva temporada de LoL</h5>
      <iframe width="100%" height="200" src="https://www.youtube.com/embed/I76wvt0aEE4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video-item">
      <h5>Arcane In-Game Preview: Come Play</h5>
      <iframe width="100%" height="200" src="https://www.youtube.com/embed/rR5vyzjGwmk" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
